@{
    ViewData["Title"] = "API";
}

<div>
    <h1 class="display-4">slink API</h1>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="user-url" placeholder="Your url to shorten" aria-describedby="shorten-button">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="shorten-button" onclick="CreateShortLink()">Shorten</button>
        </div>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">short Link</span>
        </div>
        <input type="text" class="form-control" id="shorten-url" readonly style="background-color: #fff">
    </div>
</div>

<script>

    function CreateShortLink() {
        let outputElement = $("#shorten-url");
        outputElement.val("");
        let input = $("#user-url").val();
        if (input) {
            $.post(
                "/api/shortlink",
                {
                    "UrlString": input
                },
                function (data) {
                    if (data) {
                        outputElement.val(data);
                    }
                })
                .fail(function (data) {
                    alert("the url you entered is invalid");
                });
        }
    }

</script>

<style>
    .alert-message {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        padding: 20px;
    }
</style>
